<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <% if (mensagem) { %>
            <div class="alert alert-success">
                <%= mensagem %>
            </div>
            <% } %>
        <h1>Olá, <%= nomeUsuario %>!</h1>
        <p>Bem-vindo ao seu perfil.</p>
        <p>Opções:</p>
       
            <div>
                <a href="/cadastro-filme" class="btn btn-primary">Cadastrar Novo Filme</a>
            
           
                <a href="/filmes" class="btn btn-success">Ver Filmes Cadastrados</a>
           
           
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
                
           
        
    </div>
</body>
</html>
